*.out
*.csv
*.sh
*.dat
garbagebin
.vscode

ERSketch.h
ERSketch_Count.h
ERtest.cpp
ElasticSketch/
Fermat/
common/
data/
datasample/
elastic.cpp
outputs
Tasks/Heavy-hitter_detection_and_others/outputs/*.txt
Tasks/Heavy-hitter_detection_and_others/*.txt
Makefile
oldtests/
zhy
JoinSketch/
Packet_loss_detection/